.hero {
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    ". . image image"
    "title title image image "
    "subtitle subtitle  image image"
    "description .  image image"
    "description .  image image"
    "description .  image image"
    "cta .  image image"
    ". .  image image";
  background: #495e57;
  padding: 0 15vw;
  align-items: center;

  h1 {
    grid-area: title;
    margin: 0;
    font-size: 64px;
    color: #f4ce14;
    font-family: "Markazi Text";
    font-weight: 500;
  }

  h2 {
    grid-area: subtitle;
    margin: 0;
    color: white;
    font-size: 40px;
    font-family: "Markazi Text";
    font-weight: 400;
  }

  p {
    grid-area: description;
    width: 100%;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: "Karla";
  }

  img {
    grid-area: image;
    height: 90%;
    width: 90%;
    object-fit: cover;
    border-radius: 16px;
    margin-left: auto;
  }

  button {
    grid-area: cta;
    width: 100%;
    height: 60px;
    font-size: 1em;
    margin: 1em 0;
  }
}

.highlights {
  padding: 50px 15vw;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "header menuCta"
    "slider slider";

  h1 {
    grid-area: header;
    font-size: 40px;
    font-weight: 500px;
    font-family: "Karla";
    margin: auto;
    margin-left: 0;
  }

  .highlightsSlider {
    grid-area: slider;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    justify-content: center;
    gap: 50px;
    padding: 25px 0 25px 25px;
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  button {
    grid-area: menuCta;
    margin: auto;
    margin-right: 0;
  }
}

.testimonials {
  background: #ee9972;
  padding: 10vh 15vw;
  text-align: center;

  h2 {
    margin-top: 0;
    margin-bottom: 1.5em;
    font-size: 36px;
    font-weight: 500;
    font-family: "Markazi Text";
  }

  .testimonialsSlider {
    display: flex;
    justify-content: space-evenly;
  }
}

.about {
  min-height: 400px;
  display: grid;
  grid-template-areas: "info chefs";
  padding: 5vh 15vw;

  .aboutInfo {
    grid-area: info;
    width: 50%;

    h1 {
      color: #f4ce14;
      font-size: 64px;
      font-weight: 500;
      font-family: "Markazi Text";
      margin: 0;
    }

    h2 {
      color: #495e57;
      font-size: 40px;
      font-weight: 500;
      font-family: "Markazi Text";
      margin-top: 0;
    }

    p {
      color: #495e57;
      font-size: 20px;
      font-weight: bold;
      font-family: "Karla";
      /* padding-right: 100px; */
    }
  }

  .aboutImages {
    grid-area: chefs;
    position: relative;
    width: 50%;

    img {
      position: absolute;
      height: 250px;
      border-radius: 16px;
      box-shadow: 0 4px 4px #999;

      &:first-child {
        margin-top: 0;
        right: 0;
      }

      &:last-child {
        z-index: 3;
        right: 11vw;
        bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .hero {
    padding: 5vw 5vw;
    grid-template-areas:
      "title title title title"
      "subtitle subtitle subtitle subtitle "
      "description description  image image"
      "description description  image image"
      "description description  image image"
      "description description  image image"
      "description description  image image"
      "cta cta  . .";

    p {
      width: 100%;
      /* height: 80%; */
      margin: auto;
    }

    img {
      width: 95%;
      height: 80%;
    }

    button {
      height: 35px;
      margin-bottom: auto;
      margin-top: 0;
    }
  }

  .highlights {
    padding: 0;
    padding-bottom: 25px;

    h1,
    button {
      margin: auto;
    }

    button {
      height: 35px;
      width: 150px;
    }

    .highlightsSlider {
      /* margin: 2vh 0; */
      padding: 20px 0;
      grid-auto-columns: 100%;
      justify-items: center;
      justify-content: start;
    }
  }

  .testimonials {
    padding: 5vh 5vw;

    .testimonialsSlider {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 20px;
    }
  }

  .about {
    padding: 5vh 5vw;
    grid-template-columns: 1fr;
    grid-template-areas:
      "info"
      "chefs";

    .aboutInfo {
      width: 100%;
      p {
        width: 100%;
      }
    }

    .aboutImages {
      min-height: 400px;
      width: 100%;
      position: relative;
      img {
        position: absolute;
        height: 200px;
        border-radius: 16px;
        box-shadow: 0 4px 4px #999;

        &:first-child {
          margin-top: 5%;
          right: 0;
        }

        &:last-child {
          z-index: 3;
          margin-top: 50%;
          left: 0;
        }
      }
    }
  }
}
